.input-container {
  justify-content: center;
}

form {
  justify-content: center;
}

.vpmaincontainer {
  margin: auto;
}

.container::before {
  display: none;
}

form::before {
  display: none;
}

.container h1 {
    margin: 2rem 0;
    text-align: center;
}